# Python 3.11+
ipykernel>=6.29,<8
jupyter>=1.1,<2
linearmodels>=7,<8
matplotlib>=3.9,<4
nbclient>=0.10,<1
nbformat>=5.10,<6
numpy>=2.1,<3
pandas>=2.2,<4
pillow>=10,<13
scipy>=1.14,<2
statsmodels>=0.14.4,<1
